.container
  .learning
    .example
      %h4 Example
      .card
        .card-text
          .display-1
            Display-1
          .display-2
            Display-2
          .display-3
            Display-3
          .display-4
            Display-4
    .description
      %p.font-weight-light
        Display headings are used to stand out more than normal headings <span class='font-weight-bold'> (larger font-size and lighter font-weight)</span>,
        and there are four classes to choose from: .display-1, .display-2, .display-3, .display-4
  .learning
    .example
      %h4 Example
      .card
        .card-text