.container-main
  .main-photo
    .container
      %h2
        Hello. My name is
        %span.highlight Piotr Skłodowski
        and I build rails apps and creative ideas
      %a{ :href => "/projects"}
        .btn.btn-secondary
          View my work