.container-main
  .main-photo
    .container
      %h2
        Hello. My name is
        %span.highlight Piotr Skłodowski.
        I am passionate and hungry for knowledge
      %a{ :href => "/projects"}
        .btn.btn-secondary
          View my work