.container
  .row
    - @projects.each do |project|
      .col-md-6.text-dark
        =link_to project_path(project) do
          #project.card
            .thumbnail-header
              .thumbnail-header-btn.exit
              .thumbnail-header-btn.minimalize
              .thumbnail-header-btn.full_screen
            .card-img-top
              -unless project.pictures.blank?
                -unless project.pictures.first.main_image.blank?
                  =image_tag project.pictures.first.main_image
            .card-body
              %h4.card-title.font-weight-bold
                =project.title
              %p#short-description.card-text.font-weight-light
                =project.description