.container
  .row
    .col-xs-8
      .project-main-photo
        =image_tag url='lunares-logo.png'
        %hr
    .col-6
      .desc
        %ul
          %h2
            Top features
          %li
            Insane loading speed
          %li
            Custom professional Seo