img
  width: 100%
  height: 100%

.thumbnail-header-btn
  background-color: #fff
  border-radius: 100%
  float: left
  height: 10px
  margin: 5px 0 0 5px
  width: 10px
  transition: background-color .5s

.thumbnail-header
  background-color: #eaeff4
  display: block
  height: 20px
  width: 100%

#project:hover .exit
  background-color: #FF605C

#project:hover .minimalize
  background-color: #FFBD44

#project:hover .full_screen
  background-color: #00CA4E

#project:hover .exit
  background-color: #FF605C

#project:hover .minimalize
  background-color: #FFBD44

#project:hover .full_screen
  background-color: #00CA4E

.col-md-6.project
  display: inline-block

#short-description
  -webkit-box-orient: vertical
  display: block
  display: -webkit-box
  -webkit-line-clamp: 3
  max-height: 300px
  overflow: hidden
  text-overflow: ellipsis
  font-weight: 100

#project
  color: black
  transition: color .5s

#project
  color: black

a:hover
  text-decoration: none

#project:hover
  color: #F9C348
